<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @trainer.Address %>
</p>

<p>
  <strong>Current weight:</strong>
  <%= @trainer.Current_weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @trainer.Height %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @trainer.Gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainer.Email %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
